.wrapper {
  height: 97vh;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #4a628a;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: scroll;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
