/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-HomePage {
  background-image: url("https://raw.githubusercontent.com/amiralim1377/usepopcorn/refs/heads/main/public/images/background.jpg");
  object-fit: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

/* styles.css */
.search-input {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

.search-input.show {
  transform: translateY(0);
}
